<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Nexus Gaming</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- HEADER -->
    <nav class="navbar">
        <div class="logo">
            🎮 <span>PALOGAMES</span>
        </div>

        <ul class="menu">
            <li><a href="#">Inicio</a></li>
            <li><a class="nav-link text-white" asp-area="" asp-controller="Juegos" asp-action="Index">Catálogo</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>

        <div class="actions">
            <a href="#">Iniciar Sesión</a>
            <button class="btn-registro">Registro</button>
        </div>
    </nav>

    <!-- CONTENIDO DE LAS VISTAS (IMPORTANTE) -->
    <div class="contenido">
        @RenderBody()
    </div>

</body>
</html>