@{
    ViewData["Title"] = "Inicio";
}

<div class="hero-wrapper">
    <div class="hero-background"></div>
    
    <div class="hero-content">
        <h1 class="giant-title">
            VIVE LA EXPERIENCIA <br>
            <span class="gradient-text">PALOEVENTS</span>
        </h1>
        <p class="hero-tagline">Conciertos, ferias y hackatons en un solo lugar.</p>
        
        <div class="hero-buttons">
            <a href="/Juegos" class="btn-glitch" style="text-decoration:none;">VER EVENTOS</a>
            <button class="btn-outline">CALENDARIO</button>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <h2 class="section-label">EVENTOS DESTACADOS</h2>
    <div class="event-grid">
        <div class="event-card-placeholder"></div>
        <div class="event-card-placeholder"></div>
        <div class="event-card-placeholder"></div>
        <div class="event-card-placeholder"></div>
    </div>
</div>